
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DATABASE_URL=postgres://postgresuser:mysecretpass@localhost:5432/your_snippets
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_ADMIN_URL=
DJANGO_SECRET_KEY=<a nice long random string>
DJANGO_ALLOWED_HOSTS=.your_domain.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



